extends layout

block content


  div.hero-unit
    h1 欢迎来到 Ifrogblog
    p Ifrogblog 是一个基于node.js的blog
    p
      a.btn.btn-primary.btn-large(href='/login')登录
      a.btn.btn-large(href='/reg')立即注册

  div.row
    div.span4
      h2 tom say
      p 中国人把鱼翅当成贵重美味的历史并不长，大约从明代开始。李时珍的《本草纲目》称鲨鱼“腹下有翅，味并肥美，南人珍之"
    div.span4
      h2 jim say
      p 中国人把鱼翅当成贵重美味的历史并不长，大约从明代开始。李时珍的《本草纲目》称鲨鱼“腹下有翅，味并肥美，南人珍之fd”
    div.span4
      h2 frog say
      p.
        中国人把鱼翅当成贵重美味的历史并不长，大约从明代开始。李时珍的《本草纲目》称鲨鱼“腹下有翅，味并肥美，南人珍之"